<!-- Modal for confirmation of cue deletion -->
<div class="modal fade" id="rideDeletionModal" role="dialog" aria-labelledby="rideDeletionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" class="close-modal">&times;</span>
        </button>
        <h4 class="modal-title" id="rideDeletionModalLabel">Are you sure you want to delete <i>{{model.ride}}</i>.</h4>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default modal-btn-dismiss width-48 pull-left"
                data-dismiss="modal">No, don't delete!
        </button>
        <button type="button"
                (click)="deleteRide()"
                class="btn btn-primary modal-btn-delete width-48 pull-right"
                data-dismiss="modal">Yes, delete this ride.
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Main page -->
<div class="container">
  <form name="form" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">


        <div *ngIf="!user.ride">
          <div *ngIf="availableRides">

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ride.valid }">
              <label for="ride">Select a ride to delete</label>
              <select name="ride"
                      id="ride"
                      class="form-control"
                      [(ngModel)]="model.ride"
                      #ride="ngModel"
                      required>
                <option *ngFor="let ride of availableRides" [value]="ride.name">{{ride.name}}</option>
              </select>

              <div *ngIf="f.submitted && !ride.valid" class="help-block">You must select a ride if you want to delete
                it.
              </div>

            </div>

            <button class="btn btn-primary"
                    data-target="#rideDeletionModal"
                    data-toggle="modal">Delete ride
            </button>

          </div>

          <div *ngIf="!availableRides">
            <h3>There's nothing to delete! There are no rides.</h3>
            <h4>Do you want to create one?</h4>
            <button type="button" class="btn btn-primary" routerLink='../create'>Create a ride</button>
          </div>
        </div>

        <div *ngIf="user.ride">
          <h3>You are logged in to the ride: {{ user.ride }}</h3>
          <p>You have to log out from this ride before you can log delete rides.</p>

          <button type="button" class="btn btn-danger" (click)="logOutFromRide()">Log out from ride {{ user.ride }}
          </button>
        </div>


      </div>
    </div>
  </form>
</div>