<div class="row">
  <div class="col-xs-6">
    <span>Leg</span>
  </div>
  <div class="col-xs-6">
    <span class="pull-right">Total</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <span class="bold x-large">{{ cue?.distance / 100 | number:'1.0-2' }} M</span>
  </div>
  <div class="col-xs-6">
    <span class="pull-right bold x-large">{{ cue?.total / 100 | number:'1.0-2'}} M</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 text-align-center">
    <img class="icon"
         [ngClass]="{'display-block': cue?.icon === 'left'}"
         src='assets/img/arrows/left.png'>
    <img class="icon"
         [ngClass]="{'display-block': cue?.icon === 'right'}"
         src='assets/img/arrows/right.png'>
    <img class="icon"
         [ngClass]="{'display-block': cue?.icon === 'straight'}"
         src='assets/img/arrows/straight.png'>
    <img class="icon"
         [ngClass]="{'display-block': cue?.icon === 'stop'}"
         src='assets/img/arrows/stop.png'>
  </div>
  <div class="col-xs-8">
    <p class="bold x-large">{{cue?.turn}}</p>
    <p>{{cue?.description}}</p>
  </div>
</div>
