<div class="container"> <!-- NOT demoMode -->
  <div class="row">

    <div *ngIf="!demoMode" class="col-sm-4">
      <h2>Register</h2>

      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fname.valid }">
          <label for="fname">First name</label>
          <input type="text" class="form-control" name="fname" id="fname" [(ngModel)]="model.fname" #fname="ngModel"
                 required/>
          <div *ngIf="f.submitted && !fname.valid" class="help-block">First name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lname.valid }">
          <label for="lname">Last name</label>
          <input type="text" class="form-control" name="lname" id="lname" [(ngModel)]="model.lname" #lname="ngModel"
                 required/>
          <div *ngIf="f.submitted && !fname.valid" class="help-block">Last name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
          <label for="phone">Phone</label>
          <input type="text"
                 placeholder="   -   -"
                 class="form-control"
                 name="phone"
                 id="phone"
                 [ngModel]="model.phone"
                 (ngModelChange)="formatPhone($event, 'phone')"
                 #phone="ngModel"
                 #phoneField
                 required
                 minlength="12"/>
          <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone number is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" id="email"
                 required/>
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 [(ngModel)]="model.password"
                 rpValidateEqual="confirmPassword"
                 reverse="true"
                 #password="ngModel"
                 id="password"
                 required/>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passwordConfirmation.valid }">
          <label for="passwordConfirmation">Retype Password</label>
          <input type="password"
                 class="form-control"
                 name="passwordConfirmation"
                 [(ngModel)]="model.passwordConfirmation"
                 rpValidateEqual="password"
                 reverse="false"
                 #passwordConfirmation="ngModel"
                 id="passwordConfirmation"
                 required/>
          <div *ngIf="f.submitted && !passwordConfirmation.valid" class="help-block">Password mismatch.
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emergencyName.valid }">
          <label for="emergencyName">Emergency contact name</label>
          <input type="text" class="form-control" name="emergencyName" id="emergencyName"
                 [(ngModel)]="model.emergencyName"
                 #emergencyName="ngModel" required/>
          <div *ngIf="f.submitted && !emergencyName.valid" class="help-block">Emergency contact name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emergencyPhone.valid }">
          <label for="emergencyPhone">Emergency phone number</label>
          <input type="text"
                 placeholder="   -   -"
                 class="form-control"
                 name="emergencyPhone"
                 id="emergencyPhone"
                 [ngModel]="model.emergencyPhone"
                 (ngModelChange)="formatPhone($event, 'emergencyPhone')"
                 #emergencyPhone="ngModel"
                 #emergencyPhoneField
                 required
                 minlength="12"/>
          <div *ngIf="f.submitted && !emergencyPhone.valid" class="help-block">Emergency phone number is required</div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Register</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a routerLink="/auth/login" class="btn btn-link">Cancel</a>
        </div>

      </form>
    </div>

  </div>
</div> <!-- End of NOT demoMode -->

<div *ngIf="demoMode" class="container"> <!-- demoMode -->
  <div class="row text-row">
    <div class="col-sm-6">
      <h2>Demo Mode</h2>
      <h5>This site is currently in demo mode, which means that you can't actually register.</h5>
      <h5>Log in with one of the provided demo accounts to test out the site functionality.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink='../login'>Go to login</button>
    </div>
  </div>
</div> <!-- End of demoMode -->
