<div id="wrapper">
  <header>
    <rp-nav></rp-nav>
  </header>
  <main>
    <rp-alert></rp-alert>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="primary-500 w-50 float-left">Primary 500</h2>
          <h2 class="accent-500 w-50 float-right">Accent 500</h2>
          <h2 class="primary-50 w-50 float-left">Primary 50</h2>
          <h2 class="accent-50 w-50 float-right">Accent 50</h2>
          <h2 class="primary-100 w-50 float-left">Primary 100</h2>
          <h2 class="accent-100 w-50 float-right">Accent 100</h2>
          <h2 class="primary-200 w-50 float-left">Primary 200</h2>
          <h2 class="accent-200 w-50 float-right">Accent 200</h2>
          <h2 class="primary-300 w-50 float-left">Primary 300</h2>
          <h2 class="accent-300 w-50 float-right">Accent 300</h2>
          <h2 class="primary-400 w-50 float-left">Primary 400</h2>
          <h2 class="accent-400 w-50 float-right">Accent 400</h2>
          <h2 class="primary-500 w-50 float-left">Primary 500</h2>
          <h2 class="accent-500 w-50 float-right">Accent 500</h2>
          <h2 class="primary-600 w-50 float-left">Primary 600</h2>
          <h2 class="accent-600 w-50 float-right">Accent 600</h2>
          <h2 class="primary-700 w-50 float-left">Primary 700</h2>
          <h2 class="accent-700 w-50 float-right">Accent 700</h2>
          <h2 class="primary-800 w-50 float-left">Primary 800</h2>
          <h2 class="accent-800 w-50 float-right">Accent 800</h2>
          <h2 class="primary-900 w-50 float-left">Primary 900</h2>
          <h2 class="accent-900 w-50 float-right">Accent 900</h2>
          <!--<h2 class="primary-A100 w-50 float-left">Primary A100</h2>-->
          <!--<h2 class="accent-A100 w-50 float-right">Accent A100</h2>-->
          <!--<h2 class="primary-A200 w-50 float-left">Primary A200</h2>-->
          <!--<h2 class="accent-A200 w-50 float-right">Accent A200</h2>-->
          <!--<h2 class="primary-A400 w-50 float-left">Primary A400</h2>-->
          <!--<h2 class="accent-A400 w-50 float-right">Accent A400</h2>-->


        </div>
      </div>
    </div>

  </main>
  <footer>
    <rp-footer></rp-footer>
  </footer>
</div>


