@import '../../../bootstrap-theme';

#start-button {
  width: 200px;
}

.col- {
  &cue {
    width: 10%;
  }

  &distance {
    width: 10%;
  }

  &turn {
    width: 10%;
  }

  &description {
    width: 60%;
  }

  &total {
    width: 10%;
  }
}

.container {
  //margin-bottom: 50px;
}

.pointer:hover {
  //background-color: darken($rpOrange, 20%);
}