@import '../../../bootstrap-theme';

hr {
  border-top: 1px solid $gray-500;
}

table {
  fonts-size: 14px;
}

thead tr {
  background-color: $primary !important;
}

th {
  border: none !important;
}

tbody {
  fontsize: 14px;
  border-bottom: 1px solid $gray-700;
}


tr {
  background-color: $gray-800;
}

tr:hover {
  background-color: $secondary-2-darker !important;
}

tr:nth-of-type(odd) {
  background-color: $gray-700;
}

td {
  border: none !important;
}

#outer-container {
  color: white !important;
}

#start-button {
  width: 200px;
}

#wrapper {
  background-color: $gray-800;
}

.column- {
  &cue {
    width: 6%;
  }

  &at {
    width: 6%;
  }

  &turn {
    width: 12%;
  }

  &description {
    width: 70%;
  }

  &total {
    width: 6%;
  }
}

.td-1 {
  padding-left: .5rem !important;
}