@import '../../../_vars.scss';

.col- {
  &cue {
    width: 10%;
  }

  &distance {
    width: 10%;
  }

  &turn {
    width: 10%;
  }

  &description {
    width: 60%;
  }

  &total {
    width: 10%;
  }
}

.pointer:hover {
  background-color: darken($rpOrange, 20%);
}