<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ cuesheet?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>{{ cuesheet?.description }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Created by {{ cuesheet?._creator.fname }} {{ cuesheet?._creator.lname }}</p>
    </div>
  </div>
  <div class="row margin-bottom-10">
    <div class="col-sm-12">
      <hr>
      <a routerLink="/cuesheet/{{cuesheet?._id}}/bike/0"
         class="btn btn-primary btn-block"
         type="button">Start
      </a>
    </div>
  </div>
  <div class="row margin-bottom-10">
    <div class="col-sm-12">
      <p>Or tap on a cue to start at that cue.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Cue</th>
          <th>Distance</th>
          <th>Turn</th>
          <th>Description</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cue of cuesheet?.cues; index as i"
            routerLink="/cuesheet/{{cuesheet?._id}}/bike/{{i}}">
          <td>{{ i + 1 }}</td>
          <td>{{ cue.distance / 100 | number:'1.0-2' }}</td>
          <td>{{ cue.turn }}</td>
          <td>{{ cue.description }}</td>
          <td>{{ cue.total / 100 | number:'1.0-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 margin-bottom-10">
      <a routerLink='/cuesheet' class='btn btn-primary btn-block'>Return to list of cue sheets</a>
    </div>
    <div class="col-sm-6">
      <a routerLink='/cuesheet/{{cuesheet?._id}}/edit' class='btn btn-primary btn-block'>Edit this cue sheet</a>
    </div>
  </div>

</div>