// Currently not used, as it didn't seem to work on Heroku.

// Demo
export const environment = {
  api: "<%= API %>",
  demoMode: true,
  googleMapsKey: "<%= GOOGLE_MAPS_KEY %>",
  production: true
};