/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/
@import '../../../_vars.scss';

md-table {
  background-color: darken($rpGray, 4%);
  border: 3px solid darken($rpGray, 8%);
  border-top: 2px solid silver;
}

.mat-app-background {
  background-color: darken($rpGray, 8%);
  padding: 0;
}

.mat-column- {
  &fullName {
    flex-grow: 3;
  }

  &phone {
    flex-grow: 2;
  }

  &emergencyName {
    flex-grow: 2;
  }

  &emergencyPhone {
    flex-grow: 2;
  }

  &disconnected {
    flex-grow: 2;
  }
}

.modal-table {
  width: 100%;
}

//.page-riders {
//  max-width: 1200px;
//  margin-left: auto;
//  margin-right: auto;
//  padding-top: 1px !important; // Somehow, this triggers a larger padding. Not sure how that works.
//}

.padding-left {
  padding-left: 24px;
}