<!-- Modal shown while waiting for riders -->
<ng-template #gettingRiders class="modal">
  <div class="modal-header">
    <h1 class="modal-title my-3">Getting riders ...</h1>
  </div>
</ng-template>
<!-- End: Modal shown while waiting for riders -->

<!-- Modal with rider details -->
<ng-template #riderDetails class="modal">
  <div class="modal-header">
    <h4 class="modal-title float-left">{{rider.fname}} {{rider.lname}}</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="riderDetailsModalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="modal-table">
      <tr>
        <td>Phone</td>
        <td>{{rider.phone}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{rider.email}}</td>
      </tr>
      <tr>
        <td>Emergency Contact</td>
        <td>{{rider.emergencyName}}</td>
      </tr>
      <tr>
        <td>Emergency Phone</td>
        <td>{{rider.emergencyPhone}}</td>
      </tr>
      <tr *ngIf="rider.disconnected">
        <td>Least heard from</td>
        <td>{{ rider.minutesSinceDisconnected }} minutes ago</td>
      </tr>
    </table>
  </div>
</ng-template>
<!-- End: Modal with rider details -->


<div id="wrapper">
  <header>
    <rp-nav></rp-nav>
  </header>
  <main class="page-riders">
    <rp-alert></rp-alert>

    <div>

      <div class="container pt-5">
        <div class="row mb-5" [ngClass]="{'d-none': !ride }">
          <div class="col">

            <h3>{{ ride }}</h3>

            <div class="mat-header">
              <mat-form-field floatPlaceholder="never">
                <input matInput #filter placeholder="Filter by first or last name">
              </mat-form-field>
            </div>

            <mat-table #table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="leader">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Leader</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span *ngIf="row.leader" class="fa fa-check"></span></mat-cell>
              </ng-container>

              <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Name</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.lname }}, {{ row.fname }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="emergencyName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span matTooltip="Click on header to sort."
                            [matTooltipPosition]="'above'">Emergency Contact</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.emergencyName }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="emergencyPhone">
                <mat-header-cell *matHeaderCellDef>Emergency Phone</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.emergencyPhone }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="disconnected">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Last heard of</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span *ngIf="row.disconnected">{{ row.minutesSinceDisconnected }} minutes ago</span>
                  <span *ngIf="!row.disconnected">now</span>
                </mat-cell>
              </ng-container>

              <!-- Show-details button -->
              <ng-container matColumnDef="showDetailsButton">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="showDetails(riderDetails, row)">
                  <button class="btn btn-secondary-1 btn-sm float-right">Details</button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

          </div>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div *ngIf="!ride" class="card mt-4">
              <div class="card-body">
                <h4 class="card-title">You have to select a ride before you can see who's in it.</h4>
                <button type="button" class="btn btn-secondary-1" (click)="goToRideSelect()">Go to Ride Selector
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>

  </main>
  <footer>
    <rp-footer></rp-footer>
  </footer>
</div>

