<ng-template #riderDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{rider.fname}} {{rider.lname}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="modal-table">
      <tr>
        <td>Phone</td>
        <td>{{rider.phone}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{rider.email}}</td>
      </tr>
      <tr>
        <td>Emergency Contact</td>
        <td>{{rider.emergencyName}}</td>
      </tr>
      <tr>
        <td>Emergency Phone</td>
        <td>{{rider.emergencyPhone}}</td>
      </tr>
      <tr *ngIf="rider.disconnected">
        <td>Least heard from</td>
        <td>{{ rider.minutesSinceDisconnected }} minutes ago</td>
      </tr>
    </table>
  </div>
</ng-template>

<div class="container mat-app-background page-riders">

  <div [ngClass]="{'display-none': !ride}">

    <h3 class="padding-left-md">{{ ride }}</h3>

    <div class="table-container mat-elevation-z8">

      <div class="mat-header padding-left-md">
        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filter by first or last name">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Name</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.lname }}, {{ row.fname }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="emergencyName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Emergency Contact</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.emergencyName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="emergencyPhone">
          <mat-header-cell *matHeaderCellDef>Emergency Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.emergencyPhone }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="disconnected">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span matTooltip="Click on header to sort." [matTooltipPosition]="'above'">Last heard of</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.disconnected">{{ row.minutesSinceDisconnected }} minutes ago</span>
            <span *ngIf="!row.disconnected">now</span>
          </mat-cell>
        </ng-container>

        <!-- Show-details button -->
        <ng-container matColumnDef="showDetailsButton">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="showDetails(riderDetails, row)">
            <button class="btn btn-primary btn-sm float-right">Details</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>

    </div>

  </div>

  <div *ngIf="!ride">
    <h3 class="margin-left-md">You have to select a ride before you can see who's in it.</h3>
    <button type="button" class="btn btn-success margin-left-md margin-bottom-sm" routerLink="/ride/select">Go to Ride Selector</button>
  </div>

</div>

