/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/
@import '../../../bootstrap-theme';

mat-cell, mat-header-cell {
  color: $white !important;
  padding: .4rem 0;
}

mat-header-row {
  background-color: $primary;
}

mat-row, mat-header-row {
  min-height: 0;
}

mat-row:nth-of-type(odd) {
  background-color: $gray-700 !important;
}

mat-table {
  background-color: $gray-800;
  color: $white !important;
}

.mat-column- {
  &fullName {
    flex-grow: 3;
  }

  &phone {
    flex-grow: 2;
  }

  &emergencyName {
    flex-grow: 2;
  }

  &emergencyPhone {
    flex-grow: 2;
  }

  &disconnected {
    flex-grow: 2;
  }
}

.mat-form-field {
  width: 30rem;
}

.modal-table {
  width: 100%;
}

