<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>What do you want to do now?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink='/ride-selector'>Login to a ride</button>
    </div>
    <div class="col-xs-4 col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink='/ride-creator'>Create a ride</button>
    </div>
    <div class="col-xs-4 col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink='/ride-remover'>Delete a ride</button>
    </div>
  </div>
</div>
