.sebm-google-map-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.info-window {
  color: navy;
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none !important;
}

.launching-satellites {
  text-align: center;
  color: chartreuse;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  div {
    position: absolute;
    top: 45%;
    width: 100%;
    h3 {
      position: relative;
      margin: 0 auto;
    }
  }
}

.transparent {
  opacity: .3;
}

#map-buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  text-align: center;
  button {
    margin-bottom: 20px;
  }
}

.btn {
  width: 40%;
}

//#rider-list {
//  display: none;
//  width: 100%;
//  background-color: darkblue;
//  z-index: 500;
//  position: fixed;
//  bottom: 0;
//  p {
//    background-color: darkblue;
//    text: white;
//  }
//}