@import "../../_vars.scss";

/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/

agm-map {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#map-buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  text-align: center;
  button {
    margin-bottom: 20px;
  }
}

#not-logged-in-warning {
  background-color: $rpGray;
  width: 90vw;
  margin-left: 5vw;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  text-align: center;
  top: 50px;
  left: 0;
  z-index: 9;
}


.btn {
  width: 40%;
}

.info-window {
  color: navy;
}

.launching-satellites {
  text-align: center;
  color: chartreuse;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  div {
    position: absolute;
    top: 45%;
    width: 100%;
    h3 {
      position: relative;
      margin: 0 auto;
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

.transparent {
  opacity: .3;
}

