<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div [ngClass]="{'visibility-hidden': !latLng}">

        <sebm-google-map
            #sebmGoogleMap
            [fitBounds]="latLng"
            [maxZoom]="maxZoom"
            [zoomControl]="false"
            (pinchstart)="setMapMode('stationary')"
            (panstart)="setMapMode('stationary')"
        >

          <sebm-google-map-marker *ngIf="user && user.position"
                                  [latitude]="user.position.coords.latitude"
                                  [longitude]="user.position.coords.longitude"
                                  [label]="{text: user.initials, color: 'white'}"
                                  [markerDraggable]="true"
                                  [iconUrl]="markerUrl + 'black.png'"
                                  [zIndex]="1000"
                                  [opacity]="user.opacity"
                                  (markerClick)="closeInfoWindows(user._id)">

            <sebm-google-map-info-window #userInfoWindow
                                         attr.data-index={{user._id}}
            >
              <div class="info-window">This is you!</div>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

          <sebm-google-map-marker #markers
                                  *ngFor="let rider of riderList"
                                  [latitude]="rider.position.coords.latitude"
                                  [longitude]="rider.position.coords.longitude"
                                  [label]="{text: rider.initials, color: 'black'}"
                                  [markerDraggable]="true"
                                  [iconUrl]="markerUrl + colors[rider.colorNumber] + '.png'"
                                  [zIndex]="rider.zIndex"
                                  [opacity]="rider.opacity"
                                  (markerClick)="closeInfoWindows(rider._id)"
          >

            <sebm-google-map-info-window #infoWindows
                                         attr.data-index={{rider?._id}}
            >
              <div class="info-window">{{rider.fname}} {{ rider.lname}}
                <span *ngIf="rider.phone"><br/>{{rider.phone}}</span>
                <span *ngIf="rider.disconnected"><br/>Last heard from {{ rider.minutesSinceDisconnected }} minute<span
                    *ngIf="rider.minutesSinceDisconnected !== 1">s</span> ago.</span>
                <span><br/></span>
              </div>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

        </sebm-google-map>

        <div id="map-buttons-container"
             [@buttons]="navBarState"
        >
          <button class="btn btn-primary btn-md"
                  type="button"
                  *ngIf="mapMode === 'focusOnUser' || mapMode === 'stationary'"
                  (click)="setMapMode('showAllRiders')">Track All Riders
          </button>
          <button class="btn btn-info btn-md"
                  *ngIf="mapMode === 'showAllRiders' || mapMode === 'stationary'"
                  (click)="setMapMode('focusOnUser')">Track Me
          </button>

        </div>

      </div>

      <div [ngClass]="{'launching-satellites': !latLng, 'display-none': latLng}">
        <div>
          <h3>Launching satellites ...</h3>
        </div>
      </div>

      <div id="rider-list">
        <p *ngFor="let rider of riderList">{{rider.fname}} {{rider.lname}}. zIndex: {{rider.zIndex}}. Opacity:
          {{rider.opacity}}. colorNumber: {{rider.colorNumber}}. Leader: {{rider.leader}}</p>
      </div>


    </div>
  </div>
</div>


