nav {
  z-index: 10;
  li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.active {
  background-color: saddlebrown !important;
}

.map-page {
  position: absolute;
  top: 0;
  width: 100%;
}
