<ng-container *ngIf="display">

<nav class="navbar navbar-inverse"
     [@navBar]="navBarState"
      [ngClass]="{'margin-bottom-0': marginBottomNone}">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar" id="toggle-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/'>RidePlanner</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" (click)="closeAccordion()">
        <li *ngIf="user"><a routerLink='/map' [routerLinkActive]="['active']">Map</a></li>
        <li *ngIf="user"><a routerLink='/ride/select' [routerLinkActive]="['active']">Select Ride</a></li>
        <!--
        <li *ngIf="user"><a routerLink='/protected' [routerLinkActive]="['active']">Protected</a></li>
        -->
        <!--
        <li *ngIf="user?.leader"><a routerLink='/users' [routerLinkActive]="['active']">Users</a></li>
        -->
        <li *ngIf="user?.leader"><a routerLink='/members' [routerLinkActive]="['active']">Members</a></li>
        <li *ngIf="user?.leader"><a routerLink='/riders' [routerLinkActive]="['active']">Riders</a></li>
        <!--
        <li *ngIf="user?.admin"><a routerLink='/debugger' [routerLinkActive]="['active']">Debug</a></li>
        -->
        <li *ngIf="!user"><a routerLink='/auth/register' [routerLinkActive]="['active']">Register</a></li>
        <li *ngIf="user"><a routerLink='/cuesheet' [routerLinkActive]="['active']">Cuesheets</a></li>
        <li *ngIf="!user"><a routerLink='/auth/login' [routerLinkActive]="['active']">Login</a></li>
        <li *ngIf="user"><a routerLink='/auth/logout' [routerLinkActive]="['active']">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

</ng-container>
