@import "../../bootstrap-theme";

nav {
  z-index: 10;
}

.navbar-brand,
.nav-link {
  transition: all .5s;
}

.nav-link {
  line-height: 24px;
}

.my-info {
  color: white;
}

.unscrolled.lg,
.unscrolled.xl,
.unscrolled.xxl {
  .navbar-brand {
    transform: rotate(-26deg);
    //line-height: 64px;
  }
  .nav-link {
    line-height: 64px;
  }
}



.nav-link {
  &.active {
    font-weight: 900;
  }

  &:hover {
    background-color: darken($primary, 4%);
  }
}


