<nav class="navbar navbar-inverse"
     [@navBar]="navBarState"
     [ngClass]="{
        'no-header': location.path() === '/map',
        'no-header cuesheet-bike-page': ( location.path().includes('cuesheets') && location.path().includes('bike'))
      }">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar" id="toggle-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/'>RidePlanner</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" (click)="closeAccordion()">
        <li *ngIf="user?.ride"><a routerLink='/map' [routerLinkActive]="['active']">Map</a></li>
        <li *ngIf="user"><a routerLink='/ride/select' [routerLinkActive]="['active']">Select Ride</a></li>
        <li *ngIf="user"><a routerLink='/protected' [routerLinkActive]="['active']">Protected</a></li>
        <li *ngIf="user?.leader"><a routerLink='/members' [routerLinkActive]="['active']">Members</a></li>
        <li *ngIf="user?.leader"><a routerLink='/riders' [routerLinkActive]="['active']">Riders</a></li>
        <li *ngIf="user?.admin"><a routerLink='/debugger' [routerLinkActive]="['active']">Debug</a></li>
        <li *ngIf="!user"><a routerLink='/auth/register' [routerLinkActive]="['active']">Register</a></li>
        <li *ngIf="user"><a routerLink='/cuesheet' [routerLinkActive]="['active']">Cuesheets</a></li>
        <li *ngIf="!user"><a routerLink='/auth/login' [routerLinkActive]="['active']">Login</a></li>
        <li *ngIf="user"><a routerLink='/auth/logout' [routerLinkActive]="['active']">Logout</a></li>
      </ul>
      <h4 class="pull-right">{{user?.initials}}</h4>
    </div><!--/.nav-collapse -->
  </div>
</nav>
