<div id="users-device-size">
  <div id="xs" class="d-block d-sm-none"></div>
  <div id="sm" class="d-block d-md-none"></div>
  <div id="md" class="d-block d-lg-none"></div>
  <div id="lg" class="d-block d-xl-none"></div>
  <div id="xl" class="d-block d-xxl-none"></div>
  <div id="xxl" class="d-block"></div>
</div>

<ng-container *ngIf="settingsService.showBootstrapSize && deviceSizeService.show">
  <h6 id="window-size"
      class="p-1"
      (click)="hide()"
      [ngClass]="{
      'xs': deviceSizeService.bootstrapSize$.value == 'xs',
      'sm': deviceSizeService.bootstrapSize$.value == 'sm',
      'md': deviceSizeService.bootstrapSize$.value == 'md',
      'lg': deviceSizeService.bootstrapSize$.value == 'lg',
      'xl': deviceSizeService.bootstrapSize$.value == 'xl',
      'xxl': deviceSizeService.bootstrapSize$.value == 'xxl'
      }">{{deviceSizeService.bootstrapSize$.value }}: {{deviceSizeService.innerWidth$.value}}x{{deviceSizeService.innerHeight$.value}}</h6>
</ng-container>
