#window-size {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
}

.xs {
  background-color: white;
  border: 1px solid gray;
}

.sm {
  background-color: yellow;
}

.md {
  background-color: lightgreen;
}

.lg {
  background-color: red;
  color: white;
}

.xl {
  background-color: blue;
  color: white;
}

.xxl {
  background-color: black;
  color: white;
}


