<div id="users-device-size">
  <div id="xs" class="d-block d-sm-none"></div>
  <div id="sm" class="d-block d-md-none"></div>
  <div id="md" class="d-block d-lg-none"></div>
  <div id="lg" class="d-block d-xl-none"></div>
  <div id="xl" class="d-block d-xxl-none"></div>
  <div id="xxl" class="d-block"></div>
</div>

<ng-container *ngIf="showBootstrapSize && !temporarilyHide">
  <h6 id="window-size"
      class="p-1"
      (click)="hide()"
      [ngClass]="{
      'xs': bootstrapSize === 'xs',
      'sm': bootstrapSize === 'sm',
      'md': bootstrapSize === 'md',
      'lg': bootstrapSize === 'lg',
      'xl': bootstrapSize === 'xl',
      'xxl': bootstrapSize === 'xxl'
      }">{{bootstrapSize }}: {{innerWidth}}x{{innerHeight}}</h6>
</ng-container>
