/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/
@import '../../../bootstrap-theme';


#bottom-field {
  position: relative;
  top: -664px;
  z-index: 2;
  padding-top: 20px;
  height: 400px;
  width: 100%;
  background-color: $gray-800;
}

#cues-container {
  background-color: $gray-800;
  position: relative;
  top: -200px;
}

#next-cue-mask {
  position: relative;
  top: -654px;
  height: 230px;
  width: 100%;
  margin-left: 0;

  background-color: $gray-800;
  opacity: .7;
}

.page-cuesheet-bike > div:first-child {
  position: fixed;
  max-height: 800px;
  overflow: hidden;
}

#ride-info {
  margin-top: 20px;
  color: white;
}

.container {
  max-width: 575px;
}

.cue {
  height: 200px;
  border-bottom: 1px solid gray;
  margin-bottom: 17px;
}



