/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/

.container {
  max-width: 414px;
}

#cues-container {
  position: relative;
  top: -200px;
}

.cue {
  height: 200px;
  border-bottom: 1px solid gray;
  margin-bottom: 17px;
}

#next-cue-mask {
  position: relative;
  top: -654px;
  height: 230px;
  width: 100vw;

  background-color: #2b3e50;
  opacity: .7;
}

#bottom-field {
  position: relative;
  top: -664px;
  z-index: 2;
  padding-top: 20px;
  height: 400px;
  width: 100%;
  background-color: silver;
}

#page {
  max-height: 800px;
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

#ride-info {
  margin-top: 20px;
  color: black;
}

