@import "../../../_vars.scss";

iframe {
  height: 736px;
  width: 414px;
  margin: 0 auto;
}

.wrapper {
  height: 100vw;
  background-color: white;
  padding-top: 50px;
}

.text {
  color: $rpGray;
  font-size: larger;
}
