<div
    class="container"
>
  <div class="row">
    <div class="col-md-12">
      <div
          class="map"
          [ngClass]="{'hide-till-coords-found': !lat}"
      >
        <sebm-google-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
        >

          <sebm-google-map-marker
              [latitude]="lat"
              [longitude]="lng"
              [label]="label"
          >

            <sebm-google-map-info-window>
                <div class="info-window">{{user?.fname}} {{user?.lname}}</div>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

        </sebm-google-map>
      </div>

      <div
          style="display: none"
          [ngClass]="{'while-waiting-for-coords': !lat}"
      >
        <p>Launching satellites ...</p>
      </div>


    </div>
  </div>
</div>



