<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div
          class="map"
          [ngClass]="{'visibility-hidden': !lat}">

        <sebm-google-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom">

          <sebm-google-map-marker
              *ngFor="let rider of riders"
              [latitude]="rider.lat"
              [longitude]="rider.lng"
              [label]="rider.initials"
              [markerDraggable]="true">

            <sebm-google-map-info-window>
              <div class="info-window">{{rider.fname}} {{rider.lname}}</div>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

        </sebm-google-map>
      </div>

      <div
          [ngClass]="{'display-none': lat,'while-waiting-for-coords': !lat}">
        <p>Launching satellites ...</p>
      </div>


    </div>
  </div>
</div>



