<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div
          class="map"
          [ngClass]="{'visibility-hidden': !mapLat}">

        <sebm-google-map
            [latitude]="mapLat"
            [longitude]="mapLng"
            [maxZoom]="maxZoom"
            [fitBounds]="latLng"
        >

          <sebm-google-map-marker
              *ngFor="let rider of riders; index as i"
              [latitude]="rider.lat"
              [longitude]="rider.lng"
              [label]="{text: rider.initials, color: 'black'}"
              [markerDraggable]="true"
              [iconUrl]="markerUrl + colors[rider.colorNumber] + '.png'"
              [zIndex]="rider.zIndex"
          >

            <sebm-google-map-info-window>
              <div class="info-window">{{rider.fname}} {{rider.lname}}</div>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

        </sebm-google-map>
      </div>

      <div
          [ngClass]="{'display-none': mapLat,'while-waiting-for-coords': !mapLat}">
        <p>Launching satellites ...</p>
      </div>


    </div>
  </div>
</div>



