.sebm-google-map-container {
  //height: 300px;
  height: 300px;
  width: 100%;
}

.info-window {
  color: navy;
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.while-waiting-for-coords {
  position: relative;
  top: -150px;
  text-align: center;
  color: chartreuse;
  display: block !important;
}


