<div class="wrapper-outer">

  <div class="wrapper-inner">
    <div class="col-1">
      <div>This view is meant to be used on your phone while biking.</div>
      <br/>
      <div>On your phone, you would swipe up or down to go to the next or previous cue. Here, you can also use the
        buttons to the right.
      </div>
    </div>

    <div class="col-2">
      <img src="/assets/img/other/iphone.png" class="iphone">
      <iframe [src]="url" frameborder="0"></iframe>
    </div>

    <div class="col-3">
    </div>
  </div>

</div>




