@import '../../../_vars.scss';

.right {
  float: right;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  line-height: 1;
  border-radius: 50%;
}

.buttons-column {
  position: relative;
}

.col- {
  &cue {
    width: 10%;
  }

  &at {
    width: 10%;
  }

  &turn {
    width: 10%;
  }

  &description {
    width: 50%;
  }

  &total {
    width: 10%;
  }

  &buttons {
    width: 10%;
  }
}

.container {
  padding-bottom: 200px;
}

.display-flex {
  display: flex;
}

.insert-button-container {
  position: absolute;
  bottom: 100%;
  right: 20%;
}

.insert-button {
  margin-bottom: -50%;
}

.modal-btn-dismiss {
  width: 49%;
  float: left;
}

.modal-btn-delete {
  width: 49%;
}

.highlight {
  z-index: 1200;
  td {
    background-color: #A55;
    &:not(.buttons-column) {
      z-index: 1100;
      position: relative;
    }
  }
}

.margin-neg-5 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.invisible {
  visibility: hidden;
}

.table-striped tbody {
  tr:nth-of-type(odd) {
    background-color: darken(grayscale($rpLightGray), 8%);
  }

  tr:nth-of-type(even) {
    background-color: darken(grayscale($rpGray), 8%);
  }
}

//.table-striped {
//  background-color: lighten($rpLightGray, 50%);
//
//  tbody {
//    tr:nth-of-type(odd) {
//      background-color: lighten($rpLightGray, 43%);
//    }
//
//    tr:nth-of-type(even) {
//      background-color: lighten($rpLightGray, 50%);
//    }
//  }
//}







