@import '../../../bootstrap-theme';

hr {
  border-top: 1px solid $gray-500;
  //border-bottom: 1px solid $gray-500;
}

table {
  fonts-size: 14px;
}

th {
  border: none !important;
}

thead tr {
  background-color: $primary !important;
  color: $white;
}

tbody {
  fontsize: 14px;
  border-bottom: 1px solid $gray-700;
}

td {
  border: none !important;
}

tr {
  background-color: $gray-300;
  color: $black;
}

tr:nth-of-type(odd) {
  background-color: $gray-200;
  color: $black;
}

#cuesheet-form {
  color: white !important;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  line-height: 1;
  border-radius: 50%;
}

.buttons-column {
  position: relative;
}

.column- {
  &cue {
    width: 6%;
  }

  &at {
    width: 10%;
  }

  &turn {
    width: 12%;
  }

  &description {
    width: 58%;
  }

  &total {
    width: 6%;
  }

  &buttons {
    width: 6%;
  }
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0, -50%);
}

.highlight td {
  background-color: $complement;
  color: $white;
  &:not(.buttons-column) {
    z-index: 1100;
    position: relative;
  }
}

.insert-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.insert-button-container {
  position: absolute;
  top: -100%;
  height: 200%;
  right: 30px;
}

.modal-content {
  position: relative;
  z-index: 130;
}

.table-hover tr:hover{
  background-color: $secondary-1-darker !important;
  color: $white !important;
}

.td-1 {
  padding-left: .5rem !important;
}









