
.right {
  float: right;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  line-height: 1;
  border-radius: 50%;
}

.buttons-column {
  position: relative;
}

.insert-button-container {
  position: absolute;
  bottom: 100%;
  right: 20%;
}

.insert-button {
  margin-bottom: -50%;
}

.modal-btn-dismiss {
  width: 49%;
  float: left;
}

.modal-btn-delete {
  width: 49%;
}

.highlight {
  z-index: 1200;
  td {
    background-color: #A55;
    &:not(.buttons-column) {
      z-index: 1100;
      position: relative;
    }
  }
}

.margin-neg-5 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.invisible {
  visibility: hidden;
}

.display-none {
  display: none;
}

#test-div {
  height: 100px;
  width: 200px;
  background-color: tomato;
}

