<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="currentRide">
        <h3>{{ currentRide }} Ride</h3>
        <button *ngIf="false" class="btn btn-danger" type="button" (click)="clearServerOfRiders()">Remove all riders from server</button>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Emergency Contact</th>
            <th>Emergency Phone</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rider of riders">
            <td>{{ rider.lname }}, {{ rider.fname }}</td>
            <td>{{ rider.phone }}</td>
            <td>{{ rider.emergencyName }}</td>
            <td>{{ rider.emergencyPhone }}</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="!currentRide">
        <h3>You have to select a ride before you can see who's in it.</h3>
        <button type="button" (click)="goToRideSelector()" class="btn btn-success">Go to Ride Selector</button>
      </div>


    </div>
  </div>
</div>