<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Riders</h3>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Emergency Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rider of riders">
          <td>{{ rider.fname }} {{ rider.lname }}</td>
          <td>To be added</td>
          <td>To be added</td>
          <td>To be added</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>