<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Cue sheets</h3>

      <table class="table table-striped table-bordered">

        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created by</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let cuesheet of cuesheets" class="pointer" [routerLink]="['/cuesheet', cuesheet._id, 'view']">
          <td>{{ cuesheet.name }}</td>
          <td>{{ cuesheet.description }}</td>
          <td>{{ cuesheet._creator.fname }} {{ cuesheet._creator.lname }}</td>
        </tr>
        </tbody>

      </table>

      <a routerLink="/cuesheet/new" class="btn btn-primary">Make New Cue Sheet</a>

      <h3 *ngIf="!cuesheets?.length">There are no cue sheets.</h3>

    </div>
  </div>
</div>







