@import '../../../bootstrap-theme';

hr {
  border-top: 1px solid $gray-500;
}

table {
  font-size: 14px;
}

thead tr {
  background-color: $primary !important;
}

tbody {
  font-size: 14px;
  border-bottom: 1px solid $gray-700;
}


tr {
  background-color: $gray-800;
}

tr:nth-of-type(odd) {
  background-color: $gray-700 !important;
}

th {
  border: none !important;
}

td {
  border: none !important;
}

#outer-container {
  background-color: $gray-800;
  color: $white !important;
}

.pointer:hover {
  //background-color: darken($rpOrange, 20%);
}

.td-1 {
  padding-left: .5rem !important;
}