<div id="wrapper">
  <header>
    <rp-header></rp-header>
    <rp-nav></rp-nav>
  </header>
  <main>
    <rp-alert></rp-alert>

    <div id="outer-container">

      <div class="container">
        <div class="row py-4">
          <div class="col-md-12">
            <ng-container *ngIf="cuesheets?.length">
              <h1>Cue sheets</h1>

              <table class="table mb-0">

                <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Created by</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let cuesheet of cuesheets" class="pointer"
                    [routerLink]="['/cuesheet', cuesheet._id, 'view']">
                  <td>{{ cuesheet.name }}</td>
                  <td>{{ cuesheet.description }}</td>
                  <td>{{ cuesheet._creator.fname }} {{ cuesheet._creator.lname }}</td>
                </tr>
                </tbody>

              </table>
            </ng-container>

          </div>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card mt-4" *ngIf="!cuesheets?.length">
              <div class="card-body">
                <h3 class="card-title">There are no cue sheets.</h3>
                <a routerLink="/cuesheet/new" class="btn btn-secondary-1">Make A Cue Sheet</a>

              </div>
            </div>
          </div>
        </div>

        <div class="row pb-4" *ngIf="cuesheets?.length">
          <div class="col">
            <a routerLink="/cuesheet/new" class="btn btn-secondary-1">Make New Cue Sheet</a>
          </div>
        </div>

      </div>

    </div>


  </main>
  <footer>
    <rp-footer></rp-footer>
  </footer>
</div>



