/* Structure */
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-table {
  overflow: auto;
  //max-height: 500px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.mat-input-container {
  margin-left: 0;
}

.mat-input-wrapper {

}

.mat-input-flex {

}

.mat-input-inflix {

}

/deep/ .mat-input-element {
  color: black !important;
  background-color: white !important;
  height: 2em !important;
}

/deep/ .mat-form-field-placeholder {
  color: darkgray !important;
  font-size: 1.2em !important;
}

.mat-input-underline {

}