/** Some page-specific styles won't work unless applied to the whole document. See styles.scss. **/
@import '../../../bootstrap-theme.scss';

mat-cell, mat-header-cell {
  color: $white !important;
  padding: .4rem 0;
}

mat-header-row {
  background-color: $primary;
}

mat-row, mat-header-row {
  min-height: 0;
}

mat-row:nth-of-type(odd) {
  background-color: $gray-700 !important;
}

mat-table {
  background-color: $gray-800;
  color: $white !important;
}

.mat-cell-emergency-phone-link {
  color: $complement-lighter;

  &:hover {
    color: $complement;
  }
}

.mat-cell-phone-link {
  color: lighten($secondary-1-lighter, 10%);

  &:hover {
    color: white;
  }
}

.mat-column- {
  &admin {
    flex-grow: 1;
  }
  &leader {
    flex-grow: 1;
  }

  &fullName {
    flex-grow: 3;
  }

  &phone {
    flex-grow: 2;
  }

  &email {
    flex-grow: 4;
  }

  &emergencyName {
    flex-grow: 2;
  }

  &emergencyPhone {
    flex-grow: 2;
  }
}

.mat-form-field {
  width: 250px;
}


.modal-emergency-phone-link {
  color: $complement-darker;

  &:hover {
    font-weight: bolder;
    color: $complement-darker;
  }
}

.modal-phone-link {
  color: $secondary-1;

  &:hover {
    font-weight: bolder;
    color: $secondary-1-dark;
  }
}

.modal-table {
  width: 100%;
}




