<div class="page-members">

  <!-- Modal with member details -->
  <ng-template #memberDetails>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{member.fname}} {{member.lname}}<span *ngIf="member.leader">, Ride Leader</span></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="modal-table">
        <tr>
          <td>Phone</td>
          <td>{{member.phone}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{member.email}}</td>
        </tr>
        <tr>
          <td>Emergency Contact</td>
          <td>{{member.emergencyName}}</td>
        </tr>
        <tr>
          <td>Emergency Phone</td>
          <td>{{member.emergencyPhone}}</td>
        </tr>
      </table>
    </div>
  </ng-template>
  <!-- End: Modal with member details. -->

  <div class="container" *ngIf="numberOfUsers <= 10">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default padding-bottom-md">
          <div class="panel-heading">
            <h3 class="panel-title center">Want more members?</h3>
          </div>
          <div class="panel-body">
            <p class="center">So far, you are the only a few members in this demo. You can add more members by clicking the
              button.</p>
          </div>
          <button class="btn btn-primary center-block"
                  (click)="addDummyMembers()"
                  [disabled]="loading">Add 20 members
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mat-app-background">

    <div class="row">
      <div class="col-xs-12">
        <h3 class="padding-left-md padding-right-md">
          Members
          <span class="float-right" *ngIf="userService.userList$.value.length > 10">
            <button class="btn btn-primary center-block"
                    (click)="addDummyMembers()"
                    [disabled]="loading">Add another 20 members
          </button>
          </span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <div class="table-container mat-elevation-z8">

          <div class="mat-header padding-left-md">
            <md-form-field floatPlaceholder="never">
              <input mdInput #filter placeholder="Filter by first or last name">
            </md-form-field>
          </div>

          <md-table #table [dataSource]="dataSource" mdSort>

            <!-- Leader -->
            <ng-container mdColumnDef="leader">
              <md-header-cell *mdHeaderCellDef md-sort-header>
                <span mdTooltip="Click on header to sort." [mdTooltipPosition]="'above'">Leader</span>
              </md-header-cell>
              <md-cell *mdCellDef="let row"><span *ngIf="row.leader" class="glyphicon glyphicon-ok"></span></md-cell>
            </ng-container>

            <!-- Full Name Column -->
            <ng-container mdColumnDef="fullName">
              <md-header-cell *mdHeaderCellDef md-sort-header>
                <span mdTooltip="Click on header to sort." [mdTooltipPosition]="'above'">Name</span>
              </md-header-cell>
              <md-cell *mdCellDef="let row">{{ row.lname }}, {{ row.fname }}
              </md-cell>
            </ng-container>

            <!-- Phone Column -->
            <ng-container mdColumnDef="phone">
              <md-header-cell *mdHeaderCellDef>Phone</md-header-cell>
              <md-cell *mdCellDef="let row">{{ row.phone }}</md-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container mdColumnDef="email">
              <md-header-cell *mdHeaderCellDef md-sort-header><span mdTooltip="Click on header to sort."
                                                                    [mdTooltipPosition]="'above'">Email</span>
              </md-header-cell>
              <md-cell *mdCellDef="let row">{{ row.email }}</md-cell>
            </ng-container>

            <!-- Emergency Contact Column -->
            <ng-container mdColumnDef="emergencyName">
              <md-header-cell *mdHeaderCellDef md-sort-header><span mdTooltip="Click on header to sort."
                                                                    [mdTooltipPosition]="'above'">Emergency Contact</span>
              </md-header-cell>
              <md-cell *mdCellDef="let row">{{ row.emergencyName }}</md-cell>
            </ng-container>

            <!-- Emergency Phone Column -->
            <ng-container mdColumnDef="emergencyPhone">
              <md-header-cell *mdHeaderCellDef>Emergency Phone</md-header-cell>
              <md-cell *mdCellDef="let row">{{ row.emergencyPhone }}</md-cell>
            </ng-container>

            <!-- Show-details button -->
            <ng-container mdColumnDef="showDetailsButton">
              <md-header-cell *mdHeaderCellDef></md-header-cell>
              <md-cell *mdCellDef="let row" (click)="showDetails(memberDetails, row)">
                <button class="btn btn-primary btn-sm float-right">Details</button>
              </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns"></md-row>

          </md-table>
        </div>

      </div>
    </div>

  </div>

</div>
