/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  //background-color: silver;
}

.center {
  text-align: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.display-none {
  display: none !important;
}

.faded {
  opacity: .5 !important;
}

.float-right {
  float: right;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-sm {
  margin-bottom: 12px;
}

.margin-bottom-md {
  margin-bottom: 24px;
}

.margin-right-sm {
  margin-right: 12px;
}

//.margin-top-sm {
//  margin-top: 12px;
//}

.padding-bottom-md {
  padding-bottom: 24px;
}

.padding-left-md {
  padding-left: 24px;
}

.padding-right-md {
  padding-right: 24px;
}

//.padding-top-sm {
//  padding-top: 12px;
//}

.pointer {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

/** Specific pages **/
.page-map .info-window {
  color: red !important;
}

.page-members, .page-riders {
  .mat-form-field-placeholder {
    color: darkgray !important;
    font-size: 1.2em !important;
    padding-left: 6px;
  }

  .mat-input-element {
    color: black !important;
    background-color: white !important;
    height: 2em !important;
    width: 300px !important;
    padding-left: 6px !important;
  }

  .mat-input-underline {
    display: none;
  }
}

.page-settings {
  .mat-slider-wrapper {
    left: 0 !important;
  }
}






