/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  //background-color: silver;
}

.w-100 {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.faded {
  opacity: .5 !important;
}

.display-none {
  display: none !important;
}

/** Specific pages **/
.page-cuesheet-bike nav {
  margin-bottom: 0 !important;
}

.page-map .info-window {
  color: red !important;
}

.page-members {
  .mat-form-field-placeholder {
    color: darkgray !important;
    font-size: 1.2em !important;
  }

  .mat-input-element {
    color: black !important;
    background-color: white !important;
    height: 2em !important;
  }
}



