<img id="main-pic" class="img-responsive" src="/assets/img/other/bikers/bikers-{{deviceSize}}.jpg" alt="bike">


<div class="container device-size-{{deviceSize}}">
  <div class="row">
    <div class="col-xs-12 panel panel-default">
      <h1>Home Page</h1>
      <p>I need some text here that explains how to use this app.</p>
      <p>I need some text here that explains how to use this app.</p>
      <p>I need some text here that explains how to use this app.</p>
      <p>I need some text here that explains how to use this app.</p>
      <p>I need some text here that explains how to use this app.</p>
      <p>I need some text here that explains how to use this app.</p>
    </div>
  </div>
</div>

