<div id="page">
  <div class="container" id="cues-container" [@cuesheetContainer]="move">
    <div class="cue">
      <rp-cuesheet-cue *ngIf="cueNumber > 0"
                       [cue]="cuesheet?.cues[cueNumber - 1]"
                       [cueNumber]="cueNumber - 1"></rp-cuesheet-cue>
    </div>


    <div class="cue">
      <rp-cuesheet-cue [cue]="cuesheet?.cues[cueNumber]"
                       [cueNumber]="cueNumber"></rp-cuesheet-cue>
    </div>


    <div class="cue">
      <rp-cuesheet-cue *ngIf="cueNumber < cuesheet?.cues.length - 1"
                       [cue]="cuesheet?.cues[cueNumber + 1]"
                       [cueNumber]="cueNumber + 1"></rp-cuesheet-cue>
    </div>


    <div class="cue">
      <rp-cuesheet-cue *ngIf="cueNumber < cuesheet?.cues.length - 2"
                       [cue]="cuesheet?.cues[cueNumber + 2]"
                       [cueNumber]="cueNumber + 2"></rp-cuesheet-cue>
    </div>

  </div>

  <div id="next-cue-mask"></div>
  <div id="bottom-field"></div>
</div>
<div id="left-mask" class="mask side-mask"></div>
<div id="right-mask" class="mask side-mask"></div>
<div id="bottom-mask" class="mask"></div>
