.container {
  max-width: 414px;
}

#cues-container {
  position: relative;
  //top: -222px;
  top: -160px;
  //overflow: hidden;
}

.cue {
  height: 200px;
  border-bottom: 1px solid gray;
  margin-bottom: 17px;
}

#next-cue-mask {
  position: relative;
  top: -618px;
  height: 230px;
  width: 100%;
  //padding-bottom: 50px;

  background-color: #2b3e50;
  //background-color: chartreuse;
  opacity: .7;
}

//#bottom-field-background {
//  position: relative;
//  top: -1018px;
//  //left: -50%;
//  z-index: 1;
//  height: 400px;
//  width: 200%;
//  background-color: darkmagenta;
//}

#bottom-field {
  position: relative;
  top: -630px;
  //left: -5px;
  z-index: 2;
  padding-top: 20px;
  height: 400px;
  width: 100%;
  //background-color: #2b3e50;
  background-color: silver;
  //opacity: .2;
}

#page {
  max-height: 800px;
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

//.container {
  //overflow: hidden;
  //background: red;
//}

//.mask {
//  position: fixed;
//  background-color: white;
//  z-index: 3000;
//}
//
//#left-mask {
//  top: 0;
//  left: 0;
//}
//
//#right-mask {
//  top: 0;
//  right: 0;
//}
//
//#bottom-mask {
//  bottom: 0;
//  width: 100%;
//}