#cues-container {
  position: relative;
  //top: -222px;
  top: -160px;
  max-width: 414px;
}

.cue {
  height: 200px;
  border-bottom: 1px solid gray;
  margin-bottom: 17px;
}

#next-cue-mask {
  //height: 222px;
  height: 200px;
  width: 100%;
  position: relative;
  //top: -680px;
  top: -618px;
  background-color: #2b3e50;
  opacity: .7;
}

#bottom-field {
  height: 1000px;
  width: 100%;
  position: relative;
  //top: -680px;
  top: -618px;
  background-color: #2b3e50;
}
